body{
    background-color: hsl(235, 18%, 26%);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#main-div{
    background-color: white;
    width:930px;
    height: 640px;
    border-radius: 30px;
    padding:20px 25px 25px 63px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:54px;

}
.side-div{
    width: 398px;
    height: 594px;
    background-color: red;
    border-radius: 15px;
    background-color: transparent;
}
#form-div{
    display:flex;
    flex-direction: column;
    align-items: left;
    padding:0 12px 0 12px;
}
#image-div{
    background-image:url(images/illustration-sign-up-desktop.svg);
}
h1{
    font-size: 56px;
    font-family: "Roboto";
    font-weight: 700;
    color:hsl(234, 29%, 20%);
    margin:55px 0 10px 0;
}
p{
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    color:hsl(234, 29%, 20%);
}
.list li{
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    color:hsl(234, 29%, 20%);
    margin-bottom:8px;
    display:flex;
    align-items: center;
    gap: 13px;
}
ul{
    list-style: none;
    padding:0;
    display:flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
    margin-bottom:40px;
}
.list li::before{
    content: '';
    width:21px;
    height:21px;
    background-image: url("images/icon-list.svg");
    margin:0;
}
.form-unit{
    display:flex;
    flex-direction: column;
    position:relative;
}
label{
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 700;
    color:hsl(234, 29%, 20%);
    margin-bottom:6px;
}
.error{
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 600;
    color:hsl(4, 100%, 67%);
    position:absolute;
    right:0;
    display:none;
}
#email{
    padding:18px 18px;
    color:hsl(0, 0%,58%);
    font-family: "Roboto";
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 84%);
    margin-bottom: 20px;
}
#email:hover{
    cursor:pointer;
}
#submit{
    padding:18px 18px;
    font-family: "Roboto";
    font-size: 14px;
    color:white;
    background-color: hsl(234, 29%, 20%);
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 500;
}
#submit:hover{
    cursor:pointer;
    border:1px solid transparent;
    background: #FF5379;
    background: linear-gradient(90deg,rgba(255, 83, 121, 1) 0%, rgba(255, 103, 62, 1) 64%);
    box-shadow: 0 15px 60px 5px rgba(255, 83, 121, 0.7);
}
#email.invalid{
    background-color: #FFE8E6;
    border:1px solid hsl(4, 100%, 67%);
}
#email:focus{
    outline:none;
}
#modal-div{
    width:100%;
    height: 100%;
    position:fixed;
    display:none;
    justify-content: center;
    align-items: center;
    background-color: hsl(235, 18%, 26%);
}
#subscribed{
    width:500px;
    height:520px;
    background-color: white;
    border-radius: 35px;
    display:flex;
    flex-direction: column;
    padding: 48px 65px;

}
#subscribed img{
    width:65px;
    height:65px;
    margin:0;
}
#subscribed  h1{
    font-size: 64px;
    margin-top:40px;
    line-height: 1;
}
#subscribed p{
    font-size:21px;
    font-family: "Roboto";
    font-weight: 400;
    margin-bottom:46px;
}
#dismiss{
    padding:22px 18px;
    font-family: "Roboto";
    font-size: 16px;
    color:white;
    background-color: hsl(234, 29%, 20%);
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 500;
    
}
#dismiss:hover{
    cursor:pointer;
    border:1px solid transparent;
    background: #FF5379;
    background: linear-gradient(90deg,rgba(255, 83, 121, 1) 0%, rgba(255, 103, 62, 1) 64%);
    box-shadow: 0 15px 60px 5px rgba(255, 83, 121, 0.7);
}

@media(max-width:767px){
    html, body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    #main-div{
        flex-direction:column-reverse;
        height:100vh;
        margin:0;
        padding:0;
        position:relative;
        border-radius: 0;
        gap:44px;
    }
    #image-div{
        height:285px;
        background-image: url(images/illustration-sign-up-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        top:0;
        border-radius: 0 0 15px 15px;
    }
    #form-div{
        height:557px;
        width:auto;
        padding:0 23px 0 23px;
        background-color: transparent;
    }
    .side-div{
        border-radius: 0;
        width:100%;
        margin:0;
    }
    h1{
        margin:0px;
        font-size: 42px;
        background-color: transparent;
        
    }
    p{
        margin-top:18px;
        margin-bottom:15px;
    }
    .list li {
        display: flex;
        align-items: flex-start;  
        gap: 15px;
        margin-bottom:12px;  
        background-color: transparent;              
    }
    .list li::before{
        margin-top:0px;
        display:inline-block;
    }
    #myForm{
        margin:0;
    }
    label{
        margin-top:0px;
        margin-bottom:8px;
    }
    #submit{
        padding:15px 15px;
    }
    #email{
        padding:16px 16px;
        margin-bottom:22px;
    }
    #modal-div{
        margin:0;
        padding:0;
        background-color: white;
    }
    #subscribed{
        height: 100%;
        display:flex;
        padding:0 23px;
        border-radius: 0;
        margin-top: 320px;
    }
    #subscribed h1{
        font-size: 36px;
    }
    #subscribed p{
        font-size: 16px;
    }
    #dismiss{
        margin-top: 280px;
        padding:17px 17px;
        
    }
    
}